#footer
  .links
    %strong LINKS:
    = link_to "Gallery", url(:gallery)
    |
    = link_to "My Profile", resource(current_user)
    |
    = link_to "About", url(:about)
    |
    = link_to "Blog", url(:blog)
    - if AppConfig.feedback_link
      |
      = link_to "Feedback", AppConfig.feedback_link
    |
    - if current_user.logged_in?
      = link_to "Logout", "#", :method => :delete, :confirm => "Are you sure you want to log out?"
    - else
      = link_to "Login", "#"
  
    .credits
      == &copy; #{AppConfig.site_name}
      by
      = link_to("RailsJedi", "http://www.railsjedi.com")+","
      
  .about
    = partial("layout/social_media") if AppConfig.show_social_media
      
  = clear  
  
